@import '../css/_cssreset.css';

@font-face {
  font-family: mainFont;
  src: url("../../public/assets/InterTight-VariableFont_wght.ttf");
}

@font-face {
  font-family: title;
  src: url("../../public/assets/Audiowide-Regular.ttf");
}

@font-face {
  font-family: fontnyt;
  src: url("../../public/assets/Chomsky-8MOa2.otf");
}

@font-face {
  font-family: fontSp;
  src: url("../../public/assets/Genos-VariableFont_wght.ttf");
}

body {
  margin: 0;
  color: #02123f;
  font-family: mainFont;
  height: 1000px;
  background-color: #a0b1c2;
}

.navigation {
  width: 1350px;
  margin: auto;

}

.navigation .fixed {

  position: fixed;
  width: 1270px;
  padding: 15px 40px;
  background-image: linear-gradient(#b2ebf2, #00838f);
  height: 50px;

  display: flex;
}

.navigation .quick {
  position: fixed;
  width: 1270px;
  height: 30px;
  padding: 5px 40px;
  margin-top: 60px;

  background-color: #00838f;
  display: flex;
}

.navigation .quick button {
  font-size: 1.1rem;
  cursor: pointer;
  background-color: #b2ebf2;
  border-radius: 5px;
  border: 2px solid #00838f;
  padding: 5px 10px 8px 10px;
  height: 32px;
}

.navigation .quick .spaceButt {
  font-size: 1.1rem;
  cursor: pointer;
  font-family: title;
  color: #b2ebf2;
  background-image: linear-gradient(#64b5f6, #1565c0);
  border-radius: 5px;
  border: 1px solid #bbdefb;
  padding: 5px 10px 8px 10px;
  height: 32px;
}

.navigation .quick button:hover {
  background-color: #00bcd4;
}

.navigation .quick .spaceButt:hover {
  color: #00bcd4;
}

.navigation .fixed .home {
  display: flex;
  text-align: left;
  height: 20px;
  padding: 5px 25px;
  text-decoration: none;
  font-size: 2rem;
  font-family: title;
  color: #b2ebf2;
  text-shadow: 3px 3px 3px #00838f;
}

.navigation .fixed .home:hover {
  color: #00bcd4;
}

.news {
  margin: auto;
  width: 1270px;
  padding: 20px 40px 40px 40px;
  background-image: linear-gradient(#00838f, #006064);
}


.news .place {
  height: 90px;
}

.news .holdSelect {
  display: flex;

  height: 90px;

  margin-bottom: 20px;
  background-color: #e1f5fe;
}

.news .holdSelect .gnlogo {

  text-align: left;
  height: 50px;
  margin: 20px;

}

.news .holdSelect .select {
  margin-left: 60px;
  width: 200px;
  font-size: 1.2rem;
  margin-top: 30px;
  padding: 2px 10px;

}

.news .holdSelect .select .option {
  font-size: 1.3rem;
  padding: 5px 70px;

}

.news .holdSelect .times {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: left;
  padding: 30px 40px 20px 40px;
  font-family: fontnyt;
}

.news .holdSelect .spaceFont {
  font-size: 2.3rem;
  font-weight: 600;
  text-align: center;
  color: #5c6bc0;
  padding: 10px 40px 10px 40px;
  font-family: fontSp;
}

.news h4 {
  font-size: 1.5rem;

  margin: 40px 10px 0px 60px;

}


.news .logoPlace {
  height: 90px;
  background-color: #e1f5fe;
  margin-bottom: 20px;
}

.news .logoPlace .logo {
  height: 70px;
  margin: 10px 30px;
}

.news .newsGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}

.news .newsGrid .gridContent {
  width: 580px;
  border-radius: 10px;
  background-color: #e0f7fa;
  padding: 20px;
}

.news .newsGrid .gridContent h1 {
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  padding: 10px;
}

.news .newsGrid .gridContent h2 {
  font-size: 1.4rem;
  padding: 10px;
  text-align: justify;

}

.news .newsGrid .gridContent p {
  font-size: 1.2rem;
  padding: 10px;
  text-align: justify;
}

.news .newsGrid .gridContent .image {
  width: 580px;
}

.news .guardianGrid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.news .guardianGrid .guContent {
  width: 268px;
  border-radius: 10px;
  background-color: #e3f2fd;
  border: 1px solid rgb(1, 1, 90);
  padding: 20px;
}

.news .guardianGrid .guContent .spaceImg {
  width: 268px;
  cursor: pointer;
  padding-top: 10px;
}

.news .guardianGrid .guContent .spaceTitle {
  font-size: 1.6rem;
  text-align: center;
  padding: 35px 5px 10px 5px;
  font-weight: 600;
  cursor: pointer;
}

.news .guardianGrid .guContent .spaceTitle:hover {
  color: #00bcd4;
}

.news .guardianGrid .guContent h1 {
  font-size: 1.4rem;
  padding: 10px;
}

.news .guardianGrid .guContent h2 {
  font-size: 1.2rem;
  padding: 10px;
}

.news .guardianGrid .guContent p,
.news .guardianGrid .guContent a {
  font-size: 1rem;
  padding: 10px;
}

.news .footer {
  text-align: center;
  margin-top: 70px;
  color: #a0b1c2;
  padding: 20px;
  font-size: 0.7rem;
  border-top: 1px solid #a0b1c2;
}

.artNum {
  margin: auto;
  display: flex;
  width: 1270px;
  overflow-x: auto;
  margin-top: 15px;
}

.artNum .numb {
  padding: 8px 10px;
  text-align: center;
  font-size: 1.3rem;
  color: #e1e1e1;
  cursor: pointer;
}

.artNum .numb:hover {
  color: rgb(81, 140, 81);
}

.artNum .numb:active {
  color: greenyellow;
}

.artNum .numbAct {
  text-align: center;
  padding: 8px 10px;
  font-size: 1.3rem;
  background-color: #00bcd4;
  border-radius: 5px;
  color: blanchedalmond;
}

.frame {
  width: 200px;
  height: 200px;
}

.paper {
  margin-left: 120px;
  height: 30px;
  width: 250px;
  padding: 5px 0px 5px 15px;
}

.paper .input {
  color: gray;
}

.loadPlace {
  display: flex;
  margin: auto;
  width: 1350px;
  height: 300px;
  background-color: #00838f;
  justify-content: center;
  align-items: center;
}


.loadPlace .loader {
  --d:22px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  color: #25b09b;
  box-shadow: 
    calc(1*var(--d))      calc(0*var(--d))     0 0,
    calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
    calc(0*var(--d))      calc(1*var(--d))     0 2px,
    calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
    calc(-1*var(--d))     calc(0*var(--d))     0 4px,
    calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
    calc(0*var(--d))      calc(-1*var(--d))    0 6px;
  animation: l27 1s infinite steps(8);
}
@keyframes l27 {
  100% {transform: rotate(1turn)}
}


@media screen and (max-width: 500px) {

  .navigation {
    width: 355px;
  }

  .navigation .fixed {
    width: 325px;
    padding: 10px 15px;
    display: block;
    height: 100px;
  }

  .navigation .quick {
    position: fixed;
    width: 341px;
    height: 35px;
    padding: 5px 7px;
    margin-top: 118px;
  }

  .navigation .quick button {
    font-size: 0.8rem;
    border-radius: 3px;
    padding: 3px 7px;
    height: 35px;
  }

  .navigation .quick .spaceButt {
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 3px 8px;
    height: 35px;
  }

  .navigation .fixed .home {
    height: 45px;
    text-align: center;
    padding: 5px 10px;
    font-size: 1.4rem;
    text-shadow: 2px 2px 2px #00838f;
  }

  .news {
    width: 355px;
    padding: 20px 0px 20px 0px;
  }

  .news .place {
    height: 155px;
  }

  .news .holdSelect {

    height: 60px;
    margin-bottom: 20px;
  }

  .news .holdSelect .gnlogo {
    height: 35px;
    margin: 10px;
  }

  .news .holdSelect .select {
    margin-left: 20px;
    width: 150px;
    font-size: 1rem;
    margin-top: 15px;
    padding: 2px 7px;
  }

  .news .holdSelect .select .option {
    font-size: 1.1rem;
    padding: 5px 50px;
  }

  .news .holdSelect .times {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 15px 15px 15px 15px;
  }

  .news .holdSelect .spaceFont {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px 15px 10px 15px;
}

  .news h4 {
    font-size: 0.8rem;
    margin: 25px 10px 0px 10px;
  }

  .news .logoPlace {
    height: 50px;
    margin-bottom: 10px;
  }

  .news .logoPlace .logo {
    height: 35px;
    margin: 10px 20px;
  }

  .news .newsGrid {
    display: grid;
    grid-template-columns: auto;
    gap: 20px;
  }

  .news .newsGrid .gridContent {
    width: 325px;
    border-radius: 5px;
    padding: 15px;
  }

  .news .newsGrid .gridContent h1 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    padding: 10px;
  }

  .news .newsGrid .gridContent h2 {
    font-size: 1rem;
    padding: 10px;
  }

  .news .newsGrid .gridContent p {
    font-size: 0.9rem;
    padding: 10px;

  }

  .news .newsGrid .gridContent .image {
    width: 325px;
  }

  .news .guardianGrid {
    display: grid;
    grid-template-columns: auto auto;
    gap: 6px;
  }

  .news .guardianGrid .guContent {
    width: 160px;
    border-radius: 5px;
    padding: 5px;
  }

  .news .guardianGrid .guContent .spaceImg {
  width: 162px;
  cursor: pointer;
}

.news .guardianGrid .guContent .spaceTitle {
  font-size: 1.2rem;
  text-align: center;
  padding: 25px 5px 10px 5px;
  font-weight: 600;
}

  .news .guardianGrid .guContent h1 {
    font-size: 1rem;
    padding: 10px;
  }

  .news .guardianGrid .guContent h2 {
    font-size: 0.8rem;
    padding: 10px;
  }

  .news .guardianGrid .guContent p,
  .news .guardianGrid .guContent a {
    font-size: 0.7rem;
    padding: 10px;
  }

  .news .footer {
    text-align: center;
    margin-top: 30px;
    padding: 20px;
    font-size: 0.6rem;
  }

  .artNum {

    display: flex;
    width: 335px;

    margin-top: 10px;
  }

  .artNum .numb {
    padding: 5px 8px;

    font-size: 1rem;

  }

  .artNum .numbAct {
    text-align: center;
    padding: 5px 8px;
    font-size: 1rem;
    border-radius: 5px;
  }

  .paper {
    margin-left: 20px;
    width: 260px;
    padding: 3px 3px 5px 10px;
    height: 26px;

  }
}